html, body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

ul {
    list-style: none;
}

div {
    border: solid black 1px;
}

.side-bar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 75px 3fr 1fr;
}

.header {
    display: grid;
    grid-template-rows: 75px 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.projects {
    grid-row: 1 / 3;
}